.container {
  display: grid;
  grid-gap: 20px;
  border: 10px solid var(--yellow);
  grid-template-columns: repeat(auto-fit, 150px);
  /* grid-template-columns: repeat(auto-fill, 100px); */
  /* grid-template-columns: repeat(auto-fit, 100px); */
}

.item4 {
  grid-column-end: -1;
}
