.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5, 1fr);
}

.item9 {
    background: mistyrose;
    /*grid-column: span 10;
     grid-row: span 2; */
}

.item3 {
    background: mistyrose;
    grid-column: span 3;
    grid-row: span 3;
    /* width: 300px; */
    /*grid-column: span 10;
     grid-row: span 2; */
}
